button{
    background-color: transparent;
    border: none !important;
    padding: 2em;
    margin: 0px 1px;
    font-size: larger;
}


button:hover{
    height: 105%;
}


.operator{
    background-color: #f1c40f;
    color: darkblue;
}
.key{
    background-color: #2c3e50;
    color: white;
}