.calculator{
    width: 50%;
    margin: 0 auto;
}
  
  .calculator-input{
    background-color: black;
    color: white;
    text-align: right;
    font-size: 4rem;
    min-height: 100%;
    height: 150px;
  }
  
  .calculator-body{
    background-color: black
  }
  
  .d-grid{
    display: grid;
    padding: 2%;
  }
  
  .d-grid-4-auto{
    grid-template-columns: auto auto auto auto;
  }
  
  .d-grid-3-auto{
    grid-template-columns: 50% auto auto;
  }